<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Spotify Playlist</title>
</head>

<body id="app">

    <header>
        <p v-if="currentUser">Welcome {{currentUser.full_name}}</p>

        <div v-if="!currentUser">
            <h1>Login</h1>
            <form id="login-form" name="login-form">
                <input id="username" type="text" placeholder="Username" v-model="input.username">
                <input id="password" type="password" placeholder="Password" v-model="input.password">
                <button type="submit" v-on:click.prevent="login()">Login</button>
            </form>
        </div>
    </header>
    <main>
        <h1>Generate Spotify Playlist</h1>
        <p>Generate a Spotify playlist based on the songs you have in your library.</p>
        <p>Click on a song to see the details and find matches on Spotify.</p>

        <div class="flex-container" style="display: flex; flex-direction: row;">
            <!-- left column with songs -->
            <div class="left-column" style="display: flex; flex-direction: column;">
                <!-- Add your left column content here -->
                <h1>Songs</h1>
                <div style="overflow-y: scroll; max-height: 50vh" id="song-list">
                    <ul v-for="song in songs" :key="song.id">
                        <a href="#" @click="selectedSongID = song.id">{{song.id}} {{ song.name }}</a>
                    </ul>
                </div>
            </div>

            <!-- right column with song details -->
            <div class="right-column">
                <!-- Add your right column content here -->

                <h1>Details for selected song</h1>
                <p>Name: {{ selectedSong.name }}</p>
                <p>Artists: {{ selectedSongArtistsFullNames.join(", ") }}</p>
                <a
                    :href="`https://open.spotify.com/search/${selectedSong.name} ${selectedSongArtistsFullNames.join(', ')}/tracks`">Spotify
                    matches</a>

            </div>
        </div>
    </main>
    <footer>

    </footer>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const API_ROOT = 'http://127.0.0.1:8000/';
        const CURRENT_USER_URL = `${API_ROOT}users/me`;
        const SONGS_URL = `${API_ROOT}songs`;

        getEndpoint = async function (url) {
            let access_token = localStorage.getItem('access_token');
            if (!access_token) {
                return null;
            }
            let options = {
                method: 'GET',
                headers: {
                    Authorization: `Bearer ${access_token}`
                }
            };
            let data = handleRequest(url, options);
            return data;
        }

        handleRequest = function (url, options) {
            return fetch(url, options)
                .then(res => {
                    if (res.status == 401) {
                        console.log("error: " + res.status);
                        localStorage.removeItem('access_token');
                        return null;
                    } else if (res.status != 200) {
                        console.log("error: " + res.status);
                        return null;
                    }
                    return res.json();
                })
                .catch(err => console.error('error:' + err));
        }

        const getCurrentUser = getEndpoint.bind(null, CURRENT_USER_URL);
        const getSongs = getEndpoint.bind(null, SONGS_URL);

        let app = Vue.createApp({
            data: function () {
                return {
                    input: {
                        username: "",
                        password: ""
                    },
                    userAuthenticated: false,
                    currentUser: null,
                    songs: [
                        {
                            id: 1,
                            name: '10000 reasons',
                            artists: [
                                { id: 1, first_name: 'matt', last_name: 'redmann' },
                                { id: 2, first_name: 'jonas', last_name: 'myrin' },
                            ]
                        },
                        {
                            id: 2,
                            name: 'agnus dei',
                            artists: [
                                { id: 3, first_name: 'michael', last_name: 'smith' },
                            ]
                        },
                    ],
                    selectedSongID: 1,
                }
            },
            methods: {
                login: async function () {
                    // Send the username and password to the backend
                    //make sure username OR password are not empty
                    if (this.input.username == "" || this.input.password == "") {
                        console.log("Username or password cannot be empty")
                    } else {
                        try {
                            let access_token = await this.getAccessToken();
                            if (access_token) {
                                localStorage.setItem('access_token', access_token);
                                this.currentUser = await getCurrentUser();
                            }
                        } catch (error) {
                            console.log("error:" + error);
                        }
                    }

                },
                getAccessToken: async function () {
                    // Get the access token from the backend
                    // Create a new FormData object with the input values
                    let formData = new FormData();
                    formData.append('username', this.input.username);
                    formData.append('password', this.input.password);
                    let url = 'http://127.0.0.1:8000/token';

                    let options = {
                        method: 'POST',
                    };

                    options.body = formData;

                    try {
                        let res = await fetch(url, options);
                        if (res.status == 200) {
                            let json = await res.json();
                            return json.access_token;
                        } else {
                            console.log("error: " + res.status);
                        }
                    } catch (error) {
                        console.log("error:" + error);
                    }
                },

            },
            computed: {
                selectedSong: function () {
                    return this.songs.find(song => song.id === this.selectedSongID)
                },
                selectedSongArtistsFullNames: function () {
                    return this.selectedSong.artists.map(el => `${el.first_name} ${el.last_name}`)
                }
            },
            mounted: async function () {
                this.currentUser = await getCurrentUser();
                this.songs = await getSongs();
            }
        })
        app.mount('#app')
    </script>
</body>

</html>